@font-face {
    font-family: 'intro_regular';
    src: url('fonts/intro-webfont.woff2') format('woff2'),
         url('fonts/intro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Globals */
h1,h2,h3
{
  margin: 0px;
  padding: 0px;
}
img.bg{
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn{
  text-align: center;
  background-color: rgb(248, 172, 8);
  color:white;
  border:none;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:20px;
  padding-right:20px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.btn:hover{
  background-color: rgb(195, 136, 8);
  cursor: pointer;
}
.orangeText{
  color: #ffcc00;
  font-family: 'intro_regular';
  letter-spacing: -2px;
}
.lightgreyText{
  color: #cccccc;
  font-family:'intro_regular';
  letter-spacing: -2px;
}
.errorWrap{
  padding: 12px 4px;
  background: #ef1515;
  color: #ffffff;
  width: 80%;
  margin: 20px auto 0px;
  text-align: center;
}



/* Login page */
.loginFormWrap{
  width: 600px;
  padding: 12px;
  border: 12px solid #cccccc;
  margin: 0 auto;
  background: #ffffff;
  margin-top: 200px;

}
.loginBtn{
  clear:both;
  display: block;
  padding-left: 35px;
  padding-right: 32px;
  position:absolute;
  margin-left:500px;
  top: 485px;


}

.Plantworx{
  font-family: 'intro_regular';
  letter-spacing: -2px;
  color:#fbb900;
  font-size: 60px;
  margin-right:300px;
  margin-bottom: 0px;
  margin-top: 30px;

}
.CustomerLeads{
  font-family:  'intro_regular';
  color:#c5c3c4;
  letter-spacing: -2px;
  font-size: 60px;
  margin-right:300px;
  margin-top: 0px;


}
.fieldBox{
  background-color: #282828;
  border-style: none;
  -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    height:30px;
    padding-top:20px;
    margin-bottom: 10px;
    margin-top: 7px;
    border-radius: 5px
}
input::placeholder, {
  color:black;

}
#dealers{
  height:30px

}
.userField{
  background-color: grey;
}

.fieldBox:focus{
  box-shadow: 0 0 5px rgb(4,53,132);;
   border: 1px solid rgb(4,53,132);;
}

/* View Lead */
.viewLeadTable{
  border-collapse: separate;
  border-spacing: 0 0.8em;
  margin-top: 8px;
}
.viewLeadTable input{
  width: 100%;
}
.cellBorder{
   border-right:  4px solid white;
   text-align: left;
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #ddd;
 }
.line {
  color:black;
}
.updateBlock{
  width:100%;
  height:80px;
  background-color:rgb(4,53,132);
  z-index: 2;
  font-family:'intro_regular';
  color:white;
  font-size: 40px;
  padding-top:30px;
  text-align: center;
}
.TableHeaderSingle{
  margin-top: 20px;
}
.completeRow{
  background:#e2ecc6;
}
.closingCommentTd{
  position: relative;
}
.closingCommentHead{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  padding: 5px;
  color: #ffffff;
  background: #000000;
  box-sizing: border-box;
  font-size: 12px;
}
.completeLeadBtn{
  margin-bottom: 80px;
  display: block;
}
button.completeLeadBtn{
  width: 100%;
}

.NEWone {
  font-size:100px;
  position: relative;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}


.TopHeader{
  height:70px;
  width:100%;
  background-color:#084a91;
  z-index: 0;
  top:0px;

}

.Logo{
  height:auto;
  width:100%;
  padding:3px

}

.logoSize{
  height:auto;
  width:150px;
  padding:15px;

}

.bgImg{
  background: url('components/images/Header-image.jpeg')center center no-repeat;
  background-size: cover;
  width:100%;
  padding-top: 30px;
}

.HeaderArrow{

  height:100px;
  width:130px;
  margin-bottom:0px;
}

.HeaderArrowSmall{

  height:30px;
  width:35px;
  z-index: -1;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.HeaderArrowSmallLogin{
  height:30px;
  width:35px;
  z-index: -1;
  margin-left: 5px;
  margin-top: 10px;
}




.dashboardTable {
  margin:auto;
}

table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    text-align: left;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #000000;
    color: white;
}

.maxWidth{

  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.maxWidthBorder{
  border-left: 15px solid #dedede;
  border-right: 15px solid #dedede;
}

@media (max-width: 1000px){
  .maxWidth{
    width: 100%;
  }
 }


.SmallTitle{
  font-family: 'intro_regular';
  letter-spacing: -2px;
  color:#fbb900;
  font-size: 22px;
  padding-left: 20px;

}

.SmallTitleLeads {
  font-family: 'intro_regular';
  letter-spacing: -2px;
  color:#c5c3c4;
  margin-top: 0px;
  font-size:22px;
  padding-left: 20px;
  margin-bottom:15px
}

.tick{
  width:40px;
}

.center{
  text-align: center;
}
@media (max-width: 930px) {
  .logoSize {
    width: 125px;
  }
  .TopHeader{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
  .HeaderArrow{
    right:900px;
    margin-left: auto;
    margin-right: auto;
  }
  .bgImg{
    margin-left: auto;
    margin-right: auto;
    width: 900px;

  }

}
 @media (max-width: 1350px){
   .HeaderArrow{
     right:320px;
   }
   .CustomerLeads{
     margin-right:280px;
   }
   .Plantworx{
     margin-right:280px;
   }
 }

.Footer{
  height:70px;
  width:100%;
  background-color: #084a91;
  z-index: 0;
  text-align:center;
  position: absolute;
  right: 0;
  left: 0;
}

.facebook{
    height:50px;
    width:50px;
    position:relative;
    top:10px;
    margin:auto;
    max-width: none;
    text-align:right;
    padding-right:15px;

}

.linkedinlogo{
    height:50px;
    width:50px;
    position:relative;
    top:10px;
    max-width: none;
    text-align:right;
    padding-right:15px;


}

.youtubelogo{
    height:50px;
    width:50px;
    position:relative;
    top:10px;
    max-width: none;
    text-align:right;
    padding-right:15px;

}


.mecalacFooter {
  height:50px;
  width:auto;
  padding-top:15px;

}

.socialMedia{
  float: right;
}


.updateBtn{
  text-align: center;
  background-color: rgb(248, 172, 8);
  color:white;
  border:none;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:20px;
  padding-right:20px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;

}
